{% extends "base.html" %}

{% block content %}

<div class="container">
        <h1 class="mt-5">Добавить новый рецепт</h1>

        <!-- Добавление блока для flash-сообщений -->
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="alert alert-info">
                    {% for message in messages %}
                        <p>{{ message }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}

        <form method="POST">
            {{ form.hidden_tag() }}
            <div class="mb-3">
                <label for="title" class="form-label">Название рецепта</label>
                {{ form.title(class="form-control") }}
            </div>
            <div class="mb-3">
                <label for="content" class="form-label">Содержание рецепта</label>
                {{ form.content(class="form-control", rows=5) }}
            </div>
            <div class="mb-3">
                {{ form.submit(class="btn btn-primary") }}
            </div>
        </form>
    </div>
{% endblock %}
